seed: 42

run_name: publish-ec-go-ipr
ckpt_path: byprot-checkpoints/cfpgen_650m_enzyme/checkpoints/last.ckpt
vocab_dir: byprot-checkpoints/cfpgen_650m_enzyme/vocab_with_ec
input_data: xxxx/test-ec.pkl
saveto: generation-results/

num_seqs: 1

#seq_lens: [200, 400]  # for general proteins
seq_lens: [300, 500]  # for enzyme dataset

use_go: true
use_ipr: true
use_ec: true
use_seq_motif: false
motif_min: 10
motif_max: 30

sampling_strategy: gumbel_argmax
max_iter: 100

